[flake8]
ignore = E402, E127, W503, W504, N807, E501, E203, E266, C901
exclude = .git, __pycache__, __init__.py, *.ipynb, UnixCron/build_pipeline.py
max-complexity = 10
count = true
max-line-length = 88
statistics = true
